/* GLOBAL DECLARATIONS */
* {
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
}

.body {
  margin: 0;
}


/* the color pallette*/
:root {
  --primary_purple: #950051;
  /* purple */
  --primary_white: #ffff;
  /* white */
  --secondary_dark_purple: #2D2D2D;
  /* dark purple */
  --secondary_light_gray: #787878;
  /* light Gray */
  --secondary_dark_gray: #232323;
  /* dark Gray */
  --default_font: #0000;
  /* font black */
  --default_font_a: #ffff;
  /*font white */



  --dark_purple_right: linear-gradient(to right, #2D2D2D, #950051);
  /* dark to purple */
  --dark_purple_left: linear-gradient(to left, #2D2D2D, #950051);
  /* dark to purple */
  --dark_purple_bottom: linear-gradient(to bottom, #2D2D2D, #950051);
  /* dark to purple */
  --dark_purple_top: linear-gradient(to top, #2D2D2D, #950051);
  /* dark to purple */
}

.default_bold {
  font-weight: bold;
}

.home-slideshow-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.home-slideshow-image {
  display: none;
}

.home-slideshow-image img {
  width: 100%;
  height: auto;
}

/* .home-slideshow-left{
    width: 30%;
    height: 60px;
    color: #db050500;
  } */

.home-slideshow-left {
  position: absolute;
  margin-left: 8%;
  top: 10%;
  left: 20px;
  background-color: var(--primary_white);
  padding: 10px;
  border-top-right-radius: 250px; 
  width: 48%;
}

.home-slideshow-left-content {
  height: auto;
  /* color: var(--primary_purple); */
}

.home-slideshow-left-content h2 {
  font-size: 50px;
  font-weight: 600;
  padding-top: 8%;
}

.home-slideshow-left-box-left{
height: auto;

/* background-color: var(--secondary_light_gray); */
padding: 2%;
}


.home-slideshow-left-box-left img{
width: 18rem;
}

.home-slideshow-left-box-right{
  height: auto;
  /* background-color: var(--primary_purple); */

  padding: 2%;
}

.home-slideshow-left-box-rightside{
  border-radius: 1rem;
  background-image: var(--dark_purple_top);
  padding: 10%;
  color: var(--default_font_a);

}

.home-slideshow-left-box-rightside-content{
  display: flex;
  padding-bottom: 3%;
}

.home-slideshow-left-box-rightside-content h5{
 font-size: 20px;
}

.home-slideshow-left-box-rightside-content i{
 padding-right: 3%;
}

/* .home-slideshow-left-description{
width: 50%;
} */

.home-slideshow-left-description h4{
font-size: 17px;
line-height: 29px;
text-align: justify;
word-spacing: 3px;
}

@media only screen and (max-width: 768px) {

  .home-slideshow-left {
 padding-top: 0;
  width: 80%;
  }

  .home-slideshow-left-content h2 {
    font-size: 16px;
  }

  .home-slideshow-left-box-left img{
    display: none;
  }

  /* .home-slideshow-left-box-right{
padding-top: 0;
  } */

  .home-slideshow-left-box-rightside{
    border-radius: 1rem;
    background-image: var(--dark_purple_top);
    /* padding: 10%; */
    color: var(--default_font_a);
  padding: 3%;

  }
  
  .home-slideshow-left-box-rightside-content{
    display: flex;
    padding-bottom: 1%;
  }
  .home-slideshow-left-box-left {
    display: none;
  }
  .home-slideshow-left-box-right h5{
  font-size: 11px;
  padding-bottom: 0;
  }
  
}