body,
html {
  margin: 0;
  padding: 0;

}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  /* Adjust height as needed */
  overflow: hidden;
}

.slideshow {
  display: flex;
  width: 100%;
  /* 100% * number of images */
  animation: slide 18s infinite;
  /* total duration = 2s per image * 3 images */
}

.slide {
  width: 100%;
  flex-shrink: 0;
  transition: transform 6s ease;
}

@keyframes slide {

  0%,
  100% {
    transform: translateX(0);
  }

  33.33% {
    transform: translateX(-100%);
  }

  66.66% {
    transform: translateX(-200%);
  }
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero_banner {
  width: 50%;
  height: 500px;
  border-top-right-radius: 6rem;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;

}

.hero_banner_sec1{
  width: 100%;
  height: auto;
  
}

.hero_banner_sec1 h2{
  font-size: 300%;
  position: absolute;
  top: 0;
  left: 0;
}




@media only screen and (max-width: 768px) {
  .hero_banner h2{
    font-size: 200%;
  }
}